body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: auto;
  font-weight: 300;
  line-height: 1.4em;
  font-family: "Lato", sans-serif;
}

a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
  color: #f9b41e;
}

/*Navigatie*/
nav {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100vw;
  height: 3em;
  background: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
}

a[href="#home"] {
    display: flex;
}

.icon {
  width: 2.5em;
}

.icon:hover {
  transform: rotate(360deg);
  transition: .7s ease-in-out;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

nav li {
  list-style: none;
}

nav ul a {
  font-size: 0.8em;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 23em;
  height: max-content;
  background: white;
  box-sizing: border-box;
  padding: 1em;
}

.werk-foto {
  width: 50%;
  height: 100%;
  min-width: 20em;
}

.werk-foto + .text-column {
  margin-left
}

.text-column {
  align-self: center;
  width: 19em;
  min-width: 19em;
  margin: 0 auto;
  height: auto;
}

.full-width-foto {
  width: 100vw;
  padding: 0 1em;
  box-sizing: border-box;
}

.logo-cyd {
  width: 40vw;
  overflow: visible;
  z-index: 1;
  filter: drop-shadow(0.2em 0.2em 0.1em rgba(0,0,0,0.2));
}

.cls-a {
  animation: swoosh 1s ease-in-out;
}

@keyframes swoosh {
  from {
    transform: translateX(90vw);
  }
  to {
    transform: none !important;
  }
}

.cls-a, .cls-b, .cls-c {
  transform: none !important;
}

.cls-b{
  animation: swooshie 1.1s ease-out;
}

@keyframes swooshie {
  from {
    transform: translateY(100em);
  }
  to {
    transform: none !important;
  }
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
  height: 13em;
}

.title h1 {
  align-self: center;
  font-size: 10vw;
  color: #333;
}

.column {
  flex-direction: column;
  align-self: center;
}

.contact-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0.5em;
}

.contact-item .icon {
  margin-right: 1em;
}

.logo-background {
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-size: cover;
  margin-top: 3em;
  background-repeat: no-repeat;
}

#changing-background {
  height: 80vh;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background-position: center top;
}

.dubbel-foto {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: center;
}

.dubbel-foto > img {
  flex-grow: 1;
  flex-basis: 20em;
}

.grey-bg {
    background: #D9D6D7;
}

@media screen and (max-width: 635px) {
  .logo-cyd {
    width: 60vw;
  }
}
